body {
    background-color: #dfb8f5;
}
.jumbotron {
  background-image: url("../img/thispastel.jpg");
}
.container {
  text-align: center;
}
.emoji {
  font-size: 70px;
}
.card {
  box-shadow: 5px 10px 10px #984ebf;
  background-color: #ccddff;
  margin-bottom: 30px;
}
