.jumbotron {
  background-image: url("../img/thispastel.jpg");
}
.container- {
  text-align: center;
  background-color: #dfb8f5;
}
.row {
  display: flex;
  margin-left:100px;
  border: 1px, solid;
  /* box-shadow: 5px 10px 10px #984ebf; */
}
.card {
  /* display: flex; */
  height: 300px;
  box-shadow: 5px 10px 10px #984ebf;
}
