body {
    background-color: #dfb8f5;
}
.jumbotron {
  background-image: url("../img/thispastel.jpg");
}
.container {
  text-align: center;
}
.card {
  box-shadow: 5px 10px 10px #984ebf;
}
.card-total {
  margin-top: 30px;
}
